{% extends 'developer/devbase.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock head %}
{% block body %}
<div class="container mt-5 contact-section">

  <h1>Complete your Details</h1>
  <div class="border"></div>
  <form class="contact-form" action="/developer/createprofile" method="post">
    {% csrf_token %}
    <input type="text" class="contact-form-text my-4" placeholder="First name" name="firstname" required>
    <input type="text" class="contact-form-text my-4" placeholder="Last name" name="lastname" required>
    
    <input type="number" class="contact-form-text my-4" placeholder="Phone" name="phone" required>
    <input type="text" class="contact-form-text my-4" placeholder="Location" name="address" required>
    <input type="text" class="contact-form-text my-4" placeholder="Current Job" name="currentjob" >
    <input type="text" class="contact-form-text my-4" placeholder="Current Company" name="currentcompany" >
    <input type="date" class="contact-form-text my-4" placeholder="Date of birth" name="dob" required>
    <input type="submit" class="contact-form-btn" value="Send">
  </form>
</div>

{% endblock body %}